button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    cursor: pointer;
}

.btn {
    margin: 5px;
    width: 189px;
    height: 38px;
    border-radius: 10px;

    color: #FFFFFF;
    align-self: center;
}

.btn_primary {
    background: #4A9DFF;
}

.btn_disabled {
    background: rgba(74, 157, 255, 0.27);
}