input:focus {
    border: 1px solid #d6dff5;
    outline: none;
}

.inpt {
    width: auto;
    height: 40px;
    margin: 5px;
    padding: 8px;

    border-radius: 20px;
    border: none;

    background: #FFFFFF;
    color: #5D6E97;
}