* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #F9F9F9;
    box-shadow: 10px 10px 70px rgba(93, 109, 151, 0.5);
}

.App {
    width: 800px;
    height: auto;
}

table {
    border-spacing: 3px;
    width: 100%;

    font-weight: 300;
    color: #5D6E97;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    text-transform: uppercase;
    color: #3C5AA8;
    opacity: 0.4;
}

td {
    color: #5D6E97;
    background: #FFFFFF;
}

.delete-btn {
    display: block;
    margin: auto;
} 

.result-rollingretention {
    display: flex;
    justify-content: flex-start;
}

.result-rollingretention p {
    width: 100px;
    height: 40px;
    margin: 5px;
    padding: 13px;

    border-radius: 20px;
    border: none;
    
    text-align: center;    
    
    background: #FFFFFF;
    color: #5D6E97;
}

.add-user-activities {
    display: flex;
    justify-content: space-between;
}